<p>{{weekly_timeslot.start_time}}
  -
  {{weekly_timeslot.end_time}}
  (<a
    href='/teacher-info/{{weekly_timeslot.teacher_id}}'
  >{{weekly_timeslot.teacher.first_name}}
    {{weekly_timeslot.teacher.last_name}})</a></p>